@import url('https://fonts.googleapis.com/css?family=Montserrat');

.background-fixed {
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  height: 50%;
}
@media screen and (min-aspect-ratio: 9/16) {
  .background-fixed {
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 80%;
  }
}

.item-end{
  min-height: 3.25rem;
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
}

.city-button {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 17px;
    
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 22px;
  text-align: center;
}

.city-button:hover {
  color: rgb(37, 155, 161);
}

span.button-dark{
  background: #31C4CD;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  color: #FFFFFF;
}

span.button-lighty {
  background: #FFFFFF;
  color: #31C4CD;
}
.google-map{
  position: absolute;
  bottom: 0;
  top:3.25rem;
  left:0;
  right:0;
}
.city-fullheight{
  height: 100%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
